<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <meta charset="utf-8">
    <title>Cats for Adoption</title>
    <link rel="stylesheet" href="cat-display.css">
</head>

<body>
    <h1>Meet the Cats!</h1>
    <p class="intro">Browse the cats we have available for adoption below.</p>
    <input type="text" id="searchBox" placeholder="Search by name or age">

    <input type="radio" id="femaleCat" name="gender">
    <label for="femaleCat">Female</label>
    <input type="radio" id="maleCat" name="gender">
    <label for="maleCat">Male</label>

    <button class="btn" style="padding: 10px;">Clear Search</button>

    <div class="container">
        <% cats.forEach(cat => { %>
            <a href="/cats/<%= cat._id %>"><div class="cat-card">
                <img src="/images/<%= cat.imageUrl %>">
                <h2><%= cat.name %></h2>
                <p class="cat-info"><%= cat.gender %></p>
                <p class="cat-info"><%= Math.floor(cat.ageMonths / 12) %> Years and <%= (cat.ageMonths % 12) %> months old</p>
            </div></a>
        <% }) %>
    </div>

    <!-- links back to index page -->
    <a class="btn" href="/">Go Back Home</a>
</body>

</html>